.scrollToTop {
  position: fixed;
  right: 1em;
  bottom: 100vh;
  border-radius: 50%;
  padding: 0.5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mainColor);
  border: 0.1em solid transparent;
  transition: all 250ms ease-in-out 0s;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}

.btnShow {
  composes: scrollToTop;
  bottom: 2.5em;
  opacity: 1;
}
.scrollToTop:hover,
.scrollToTop:focus {
  border-color: var(--mainColor);
  background-color: var(--white);
}
.scrollToTop img {
  width: 1.5em;
}
.arrow {
  width: 1em;
  height: 1em;
  rotate: 90deg;
  fill: var(--white);
  transition: all 250ms ease-in-out 0s;
}
.scrollToTop:hover .arrow,
.scrollToTop:focus .arrow {
  fill: var(--mainColor);
}
