.container {
  margin-bottom: 8.31em;
}
.links {
  display: flex;
  align-items: center;
  color: var(--grey2);
}
.active {
  color: var(--mainColor);
}
.navLink {
  transition: all 0.3s ease-in-out;
}
.navLink:hover,
.navLink:focus {
  color: var(--mainColor);
}

.arrowLeft {
  width: 1.33em;
  margin-top: 0.2em;
  padding: 0 0.35em;
  stroke: var(--mainColor);
  rotate: -90deg;
  transition: all 0.3s ease-in-out;
}
.arrowLeft {
  stroke: var(--grey2);
}
.select:hover,
.select:focus {
  scale: 1.1;
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 5em;
}
@media screen and (max-width: 426px) {
  .container {
    margin-bottom: 0;
  }
  .filterContainer {
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 1em;
  }
}
