.title {
  margin: 1.75em 0 0.75em 0;
  color: var(--mainColor);
  font-size: 2.67em;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.item {
  padding: 1.33em;
  border: 0.2em solid var(--grey6);
  border-radius: 0.5em;
}
.item:not(:last-child) {
  margin-bottom: 2em;
}
.review,
.name {
  font-size: 1.5em;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.name {
  display: flex;
  align-items: center;
  margin-bottom: 0.89em;
  font-weight: 600;
}
.starContainer,
.starContainerAdd {
  display: flex;
  align-items: center;
  margin-left: 0.89em;
}

.star {
  width: 1em;
  fill: var(--yellow);
}
.starEmpty {
  width: 1.5em;
  fill: var(--grey);
}
.formContainer {
  padding: 1.333em;
  border: 0.2em solid var(--grey6);
  border-radius: 0.5em;
}
.inputContainer {
  margin-bottom: 1.333em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}
.label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1.333em;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.input {
  margin-top: 0.5em;
  padding: 0.5em 0.2em;
  border-radius: 0.3em;
  font-size: 1em;
  border: 0.1em solid rgba(0, 0, 0, 0.12);
  background: var(--white);
  outline: none;
  transition: all 0.3s ease-in-out;
}
.input:focus,
.input:hover {
  border-color: var(--mainColor);
}
.btn {
  margin-top: 2em;
  padding: 0.56em 1.68em;
  font-size: 1.5em;
  border-radius: 0.5em;
  border: 0.1em solid transparent;
  color: var(--white);
  background: var(--second);
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background: var(--white);
  color: var(--second);
  border: 0.1em solid var(--second);
}
.error {
  position: absolute;
  bottom: -1.3em;
  font-size: 0.8em;
  color: red;
}
