.container {
  margin-bottom: 8.31em;
}
.links {
  display: flex;
  align-items: center;
  color: var(--grey2);
}
.active {
  color: var(--mainColor);
}
.navLink {
  transition: all 0.3s ease-in-out;
}
.navLink:hover,
.navLink:focus {
  color: var(--mainColor);
}
.arrowLeft {
  width: 1.33em;
  margin-top: 0.2em;
  padding: 0 0.35em;
  stroke: var(--grey2);
  rotate: -90deg;
  transition: all 0.3s ease-in-out;
}
.title {
  margin: 0.75em 0 0.5em 0;
  color: var(--mainColor);
  font-size: 2.67em;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.cardContainer {
  display: flex;
}
.image {
  width: 34.42em;
}
.descriptionContainer {
  margin-left: 1.67em;
}
.starContainer {
  display: flex;
  margin-bottom: 1.33em;
}
.star {
  width: 1.66em;
  margin-right: 0.33em;
  fill: var(--yellow);
}
.reviews {
  font-size: 1.17em;
  line-height: normal;
  text-transform: capitalize;
}
.description {
  padding: 3.125em 3.125em 4.5em 3.125em;
  border-radius: 1.125em;
  border: 0.1em solid var(--grey6);
}
.subTitle {
  margin-bottom: 0.75em;
  color: var(--mainColor);
  text-align: center;
  font-size: 1.34em;
  font-weight: 600;
  line-height: normal;
}
.sizeListContainer {
  display: flex;
}
.sizeItems {
  padding: 0.14em 0.714em;
  margin-right: 0.57em;
  border-radius: 0.286em;
  border: 0.1em solid var(--mainColor);
  background: var(--mainColor);
  color: var(--white);
  text-align: center;
  font-size: 1.17em;
  line-height: normal;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.inActiveSize {
  composes: sizeItems;
  background: var(--white);
  color: var(--grey2);
  border: 0.1em solid var(--grey2);
}
