footer {
  margin: 7.669em 0 2em 0;
}
.title {
  margin-bottom: 1.335em;
  font-size: 4em;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.1em;
  color: var(--mainColor);
}
.information {
  width: 50em;
  /* width: 50%; */
}
.form {
  /* width: 65%; */
}
.subtitle {
  margin-bottom: 1.5em;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.credentionals {
  color: var(--grey);
  font-size: 1.333em;
  line-height: 150%;
}
.credentionals:nth-child(4) {
  margin-top: 1.5em;
}
.label {
  font-size: 1.333em;
  text-transform: capitalize;
}
.label:nth-child(2n) {
  margin-top: 1.93em;
}
.section {
  display: flex;
  justify-content: space-between;
}
.form {
  display: flex;
}
.input {
  width: 100%;
  margin-top: 1.6em;
  margin-bottom: 2.55em;
  padding: 0.5em 0.2em;
  border-radius: 0.3em;
  font-size: 1em;
  border: 0.1em solid rgba(0, 0, 0, 0.12);
  background: var(--white);
  box-shadow: 0 0 0.1em 0 rgba(0, 0, 0, 0.25);
  outline: none;
  transition: all 0.3s ease-in-out;
}
.input:focus {
  outline: 0.1em solid var(--mainColor);
  border-color: transparent;
}
.message {
  max-height: 8em;
  margin-bottom: 0;
}
.formLeft {
  margin-right: 3em;
}
.btn {
  width: 100%;
  border-radius: 0.5em;
  padding: 0.5em 0;
  margin-top: -0.5em;
  background: var(--second);
  border: 0.1em solid transparent;
  color: var(--white);
  font-size: 1.5em;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover,
.btn:focus {
  background: var(--white);
  color: var(--second);
  border: 0.1em solid var(--second);
}
/* footer {
  font-size: 1em;
} */
