.supply {
  position: relative;
  background-color: var(--mainColor);
  height: 63.53em;
}
.subTitle {
  color: var(--grey2);
  font-size: 1.67em;
  padding: 4.1em 0 0.6em 0;
}
.italic {
  color: inherit;
}
.title {
  color: var(--white);
  font-size: 5.34em;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.1em;
}
.btn {
  position: relative;
  margin-top: 3.556em;
  padding: 0.67em 5.025em;
  border-radius: 0.5em;
  color: var(--second);
  font-size: 1.5em;
  text-transform: capitalize;
  border: 0.1em solid transparent;
  background: var(--white);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover,
.btn:focus {
  border-color: var(--white);
}
.btn:hover .btnText,
.btn:focus .btnText {
  color: var(--white);
  position: relative;
  z-index: 1;
  transition: color 0.3s ease-in-out;
}

.btn::after,
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  color: var(--white);
  border-color: var(--white);
  background-color: var(--mainColor);
  border-radius: 0.5em;
  transition: all 0.3s ease-in-out;
}
.btn:hover:after,
.btn:focus:after {
  width: 100%;
}

.bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120em;
  pointer-events: none;
}
.facts {
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 97.16em;
  transform: translateX(50%);
  border-radius: 2em 2em 0 0;
  text-align: center;
  background-color: var(--white);
}
.titleFacts {
  margin-top: 0.71em;
  font-size: 4em;
  color: var(--mainColor);
  line-height: 100%;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 426px) {
  .btn {
    font-size: 1.9em;
  }
}
