:root {
  --mainColor: #0772c4;
  --white: #ffffff;
  --black: #454545;
  --black2: #000;
  --grey: #676767;
  --grey2: #b1c1cd;
  --grey3: #363636;
  --grey4: #7b7979;
  --grey5: #ccc;
  --second: #352e44;
  --milk: #fbfbfb;
  --green: #80a36b;
  --blue: #e6f1f9;
  --darkBlue: #0772c4;
  --yellow: #ffca28;
}
