.title {
  color: var(--mainColor);
  margin-bottom: 1.333em;
  font-size: 1.5em;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.subTitle {
  font-size: 1.5em;
  font-weight: 600;
  line-height: normal;
}
.wrapper {
  width: 15.88em;
  cursor: pointer;
  border: 0.1em solid transparent;
  transition: all 0.3s ease-in-out;
}
.extras {
  width: 15.88em;
}
.extrasCost {
  margin-top: 0.78em;
  color: var(--second);
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: capitalize;
}
.description {
  margin: 1.714em;
  font-size: 1.167em;
  font-weight: 400;
  text-transform: capitalize;
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.item {
  text-align: center;
  border: 0.1em solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.item:hover,
.item:focus {
  border-color: var(--mainColor);
}
.code {
  color: var(--second);
  font-size: 1.5em;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
}
.color {
  font-size: 1.333em;
  font-weight: 400;
  line-height: 135%;
  text-transform: capitalize;
}
.active {
  border-color: var(--mainColor);
}
