.subTitleMeasure,
.thanks {
  margin-bottom: 0.75em;
  color: var(--mainColor);
  font-size: 1.5075em;
  font-weight: 600;
  line-height: normal;
}
.thanks {
  font-size: 3em;
}
.thanksContainer {
  text-align: center;
  padding: 1em 2em;
  border: 0.1em dotted var(--mainColor);
  border-radius: 0.83em;
}
.totalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0 2.68em 0;
}
.total {
  color: var(--second);
  text-align: center;
  font-size: 1.167em;
  font-weight: 700;
  line-height: normal;
}
.cost {
  font-size: 1.43em;
}
.btn,
.btnBack,
.btnGoToShop {
  padding: 0.56em 1.68em;
  color: var(--white);
  font-size: 1.5em;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  background-color: var(--second);
  border-radius: 0.56em;
  border: 0.1em solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btnBack {
  padding: 0.56em 0.5em;
  margin-right: 1em;
  background-color: transparent;
  color: var(--second);
}
.btnGoToShop {
  margin: 1em;
}
.btn:hover,
.btn:focus,
.btnGoToShop:hover,
.btnGoToShop:focus {
  color: var(--second);
  background-color: var(--white);
  border-color: var(--second);
}
.btnBack:hover,
.btnBack:focus {
  text-decoration: underline;
  border-color: var(--second);
}
.information {
  position: relative;
  text-align: center;
  padding: 1.33em 7.398em;
  border-radius: 0.83em;
  background: var(--blue);
}
.information:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2em;
  left: 2em;

  width: 90%;
  height: 0.2em;
  background-color: var(--grey6);
}
.subTitle {
  margin-bottom: 0.67em;
  color: var(--second);
  font-size: 1.5em;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.info,
.infoContainer {
  text-align: center;
  font-size: 1.166em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.infoContainer {
  text-align: unset;
  margin-bottom: 1.714em;
}
.guide {
  margin-top: 3em;
  text-align: center;
  padding: 0 2em;
}
.informationContainer {
  margin-top: 3em;
}
.guideTitle,
.guideDescr {
  color: var(--black);
  font-size: 1.167em;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.guideDescr {
  font-weight: 400;
}
